.portfolio {
    .portfolioContainer {

        .portfolioRow {

            display: flex;
            align-items: center;
            justify-content: center;

            .portfolioProjects {


                .recipes {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 16px;

                    @media (max-width: 769px) {
                        flex-direction: row;
                    }



                    .textContent {

                        .recipesText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            @media (min-width: 769px) {
                                flex-direction: row;
                                gap: 40px;
                            }

                            @media (max-width: 1024px) {
                                flex-direction: column;
                            }

                            .text {
                                text-align: center;

                                h3 {
                                    color: white;
                                    font-size: 25px;
                                    font-weight: 500px;
                                    margin-top: 100px;
                                    font-family: var(--font-lora);

                                    @media (max-width: 769px) {
                                        margin-top: 20px;
                                    }
                                }

                                p {
                                    color: white;
                                    font-size: 20px;
                                    font-weight: medium;
                                    text-align: justify;
                                    font-family: var(--font-inter);
                                }
                            }


                            .project {
                                display: flex;
                                // margin-top: 20px;
                                // gap: 80px;
                                flex-direction: column;


                                .logo {

                                    @media (max-width: 425px) {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 10px;
                                    }
                                }
                            }

                            .links {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                gap: 30px;

                                @media (max-width: 425px) {
                                    flex-direction: row;
                                }

                                @media (max-width: 1366px) {
                                    flex-direction: row;
                                    margin-top: 20px;
                                }

                                .viewButton {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 20px;
                                    border: 1px solid white;
                                    padding: 20px 30px;
                                    border-radius: 30px;

                                    &:hover {
                                        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
                                    }
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 10px;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 20px;
                                    font-family: var(--font-inter);
                                    font-weight: medium;
                                    border-radius: 40px;
                                    padding: 5px 10px;

                                    &:hover {
                                        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
                                    }
                                }
                            }

                        }
                    }

                    img {
                        width: 500px;
                        height: 470px;

                        @media (max-width: 769px) {
                            width: 250px;
                            height: 300px;
                        }

                        @media (max-width: 1366px) {
                            margin-top: 120px;
                        }
                    }

                }

                .reencontrow {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    margin-top: 20px;

                    .textContent {

                        .reencontrowText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            @media (min-width: 769px) {
                                flex-direction: row;
                                gap: 40px;
                            }

                            @media (max-width: 1024px) {
                                flex-direction: column;
                            }

                            .text {
                                text-align: center;

                                h3 {
                                    color: white;
                                    font-size: 25px;
                                    font-weight: medium;
                                    margin-top: 100px;
                                    font-family: var(--font-inter);

                                    @media (max-width: 769px) {
                                        margin-top: 20px;
                                    }
                                }

                                p {
                                    color: white;
                                    font-size: 20px;
                                    font-weight: medium;
                                    text-align: justify;
                                    font-family: var(--font-inter);
                                }
                            }

                            .project {
                                display: flex;
                                font-size: 20px;
                                margin-top: 20px;
                                gap: 80px;
                                margin-bottom: 60px;
                                flex-direction: column;



                                .logo {

                                    @media (max-width: 425px) {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 10px;
                                    }
                                }
                            }

                            .links {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                gap: 30px;

                                @media (max-width: 425px) {
                                    flex-direction: row;
                                }

                                @media (max-width: 1366px) and (max-width: 1444px) {
                                    flex-direction: row;
                                    margin-bottom: 60px;
                                }


                                .viewButton {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 20px;
                                    border: 1px solid white;
                                    padding: 20px 30px;
                                    border-radius: 30px;
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 10px;
                                    text-decoration: none;
                                    color: white;
                                    font-size: 20px;
                                    font-family: var(--font-inter);
                                    font-weight: medium;
                                    border-radius: 40px;
                                    padding: 5px 10px;

                                    &:hover {
                                        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
                                    }
                                }
                            }

                            img {
                                margin-top: 90px;
                                width: 500px;
                                height: 460px;

                                @media (max-width: 769px) {
                                    width: 250px;
                                    height: 300px;
                                }

                                @media (max-width: 1366px) {
                                    margin-top: 120px;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}