.about {
    &:before {
        content: '';
        background-image: url('/background.jpeg'); // Caminho relativo à pasta public
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; // opcional, mantém o fundo fixo ao rolar
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
    }

    .aboutContainer {
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;

            .aboutSection {
                margin-top: 125px;

                h2 {
                    color: white;
                    font-size: 50px;
                    font-family: var(--font-lora);
                    font-weight: bold;
                }

            }

            .aboutText {
                max-width: 900px;
                color: white;
                font-size: 20px;

                p {
                    font-family: var(--font-inter);
                }

                .textIntroduction {
                    color: white;
                    font-size: 20px;
                    font-family: var(--font-lora);
                    font-weight: bold;
                    text-align: justify;
                }

                .text {
                    color: white;
                    font-size: 20px;
                    text-align: justify;
                    letter-spacing: 0, 06rem;
                }

            }

            .cv {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                margin-bottom: 5rem;

                @media (max-width: 767px) {
                    flex-direction: column;
                    gap: 5px;
                }

                a {
                    display: inline-flex;
                    color: white;
                    font-size: 27px;
                    font-family: var(--font-inter);
                    text-decoration: none;
                    border: 2px solid;
                    border-color: white;
                    border-radius: 50px;
                    padding: 20px;
                    margin-top: 50px;
                    gap: 8px;

                    @media (min-width: 769px) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}