.contacts {
    &:before {
        content: '';
        background-image: url('/background.jpeg'); // Caminho relativo à pasta public
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; // opcional, mantém o fundo fixo ao rolar
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
    }

    .contactContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            h2 {
                color: white;
                font-size: 50px;
                font-weight: bold;
                margin-left: 100px;
                font-family: var(--font-lora);
            }
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h4 {
                color: white;
                font-size: 40px;
                font-weight: bold;
                font-family: var(--font-lora);
            }

            p {
                color: white;
                font-size: 25px;
                font-weight: bold;
                font-family: var(--font-inter);
            }
        }

        .contactsInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            margin-top: 150px;
            flex-direction: column;

            @media (min-width: 769px) {
                flex-direction: row;
            }

            .email,
            .location,
            .messageApp {
                flex: 1;
            }


            .email {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                font-size: 20px;
                font-family: var(--font-inter);
                font-weight: 500;

                svg {
                    padding: 20px;
                }

            }

            .location {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                font-size: 20px;
                font-family: var(--font-inter);
                font-weight: 500;

                svg {
                    padding: 20px;
                }
            }

            .messageApp {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                font-size: 20px;
                font-family: var(--font-inter);
                font-weight: 500;

                svg {
                    padding: 20px;
                }
            }
        }
    }
}