.header {
    font-family: var(--font-inter);

    .content {
        display: flex;
        align-items: center;
        gap: 160px;


        .logo {
            h1 {
                color: white;
                font-size: 50px;
                font-weight: bold;
            }

        }

        .navBar {
            flex: 1;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                font-size: 30px;
                color: white;
            }
        }

        .contactButton {

            a {
                border: 2px solid;
                border-radius: 40px;
                border-color: white;
                padding: 15px;
                text-decoration: none;
                font-size: 30px;
                color: white;
            }
        }
    }
}