.header {
    font-family: var(--font-inter);
    margin-top: 3vh;

    @media (min-width: 768px) {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .logo {
            flex: 1;

            h1 {
                color: white;
                font-size: 35px;
                font-weight: bold;
            }
        }

        .navBar {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            flex: 1;
            gap: 10px;
            // max-width: 400px;
            flex: 1;

            a {
                text-decoration: none;
                font-size: 30px;
                color: white;
                transition: all 0.3s ease;
                padding: 10px;
                border-radius: 30px;

                &:hover {
                    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
                }

                &.ctnContact {
                    border: 2px solid;
                    border-radius: 40px;
                    border-color: white;
                    padding: 15px;
                    text-decoration: none;
                    font-size: 30px;
                    color: white;
                    transition: all 0.3s ease;

                    &:hover {
                        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);

                    }
                }
            }

            @media(max-width: 768px) {
                position: fixed;
                top: 0;
                left: -100%;
                width: 100vw;
                height: 100vh;
                background: black;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                z-index: 10;
                transition: all .3s ease-in-out;

                .headerNavFloat {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    padding: 20px;
                }

                &.active {
                    left: 0;

                    a {
                        transform: translateX(-60px);
                        animation: navLinkIn 1s ease-in-out forwards;
                    }
                }
            }
        }

        .selectLanguage {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }

    }
}

@keyframes navLinkIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.mobileMenu div {
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
}