body {
    background-color: black;
}

.page {
    &:before {
        content: '';
        background-image: url('/background.jpeg'); // Caminho relativo à pasta public
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; // opcional, mantém o fundo fixo ao rolar
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.4;
        max-width: 100%;
    }

    .content {
        text-align: center;

        .intro {
            margin-top: 1rem;

            @media(min-width: 768px) {
                margin-top: 10vh;
            }

            .name {
                font-size: 35px;
                font-weight: bold;
                color: white;
                font-family: var(--font-lora);
                margin: 0 auto;

                @media (min-width: 769px) {
                    visibility: hidden;
                }
            }

            .jobTittle {
                font-size: 35px;
                font-weight: bold;
                color: white;
                font-family: var(--font-lora);
            }

        }

        p {
            color: white;
            font-size: 25px;
            font-family: var(--font-inter);
            font-weight: 300;
            text-align: justify;
            letter-spacing: 0.06rem;
        }

        .socials {
            display: flex;
            gap: 40px;
            margin-top: 40px;

            a {
                margin-bottom: 30px;
            }
        }

        @media (min-width: 768px) {
            margin-top: 100px;
        }

        @media (min-width: 1024px) {
            max-width: 720px;
        }

        @media (max-width: 769px) {
            body {
                overflow-x: hidden;
            }

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 1rem;
            }

            .switcher {
                margin: 0;
            }

            .navList {
                position: absolute;
                top: 8vh;
                left: -100%;
                width: 100vw;
                height: 92vh;
                background: black;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                // z-index: 100;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 0;
                    padding: 0;
                }

                a {
                    color: white;
                }
            }

            .navList li {
                margin-left: 0;
                opacity: 1;
            }

            .mobileMenu {
                display: block;
            }

            .navList.active {
                left: 0;

                li {
                    transform: translateX(-60px);
                    animation: navLinkIn 1s ease-in-out forwards;
                }
            }

            @keyframes navLinkIn {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

            // @keyframes navLinkFade {
            //     from {
            //         opacity: 0;
            //         transform: translateX(50px);
            //     }

            //     to {
            //         opacity: 1;
            //         transform: translateX(0);
            //     }
            // }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 80px;
        }

        .footerContainer {

            .footerIcons {
                display: flex;
                gap: 20px;
                padding-bottom: 50px;

            }
        }
    }
}